@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

:root {
    --color-white: #ffffff;
    --color-orange: #f6722a;
    --color-lightorange: #f19a0f;
    --color-black: #0c2c38;
    --color-darkblue: #3d88a5;
    --color-lightblue: #1c96c6;
    --color-lightgray: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-white);
    font-family: 'Lato', sans-serif;
}

#page-wrapper {
    position: relative;
}

li {
    list-style: none;
}

a {
    color: var(--color-lightorange);
    text-decoration: none;
}

.container {
    background-color: var(--color-lightgray);
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px var(-color-black) solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

.grid {
    display: flex;
}