@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

:root {
    --color-white: #ffffff;
    --color-orange: #f6722a;
    --color-lightorange: #f19a0f;
    --color-black: #0c2c38;
    --color-darkblue: #3d88a5;
    --color-lightblue: #1c96c6;
    --color-lightgray: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-white);
    font-family: 'Lato', sans-serif;
}

#page-wrapper {
    position: relative;
}

li {
    list-style: none;
}

a {
    color: var(--color-lightorange);
    text-decoration: none;
}

.container {
    background-color: var(--color-lightgray);
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px var(-color-black) solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

.grid {
    display: flex;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    align-items: center;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* @media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
} */

.logo {
    display: flex;
    align-items: center;
    width: 60vw;
}

@media (max-width: 650px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}

.logo i {
    margin-right: 10px;
    color: var(--color-orange);
}

.logo p {
    color: var(--color-orange);
    font-style: italic;
    font-weight: 600;
    font-size: 1.5rem;
}


nav {
    font-weight: 400;
}

@media (max-width: 650px) {
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
    nav li {
        padding-bottom: 5px;
    }
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* @media (max-width: 650px) {
    nav > ul {
        flex-direction: column;
    }
} */